body{
  background-color:darkslateblue ;
  color: white;
}

main{
  width: 300px;
  padding: 20px;
  margin: 20vh auto;
}
button {
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submit-btn{
  background-color: orange;
}

.submit-btn2{
  background-color: lightpink;
}

/* .submit-btn3{
  background-color: rgb(182, 240, 255);
} */


